<ion-view title="Login" id="page7">
    <ion-content padding="true" class="has-header">
        <br /><label for="login">Please log in:</label>
        <div class="list list-inset" id="login">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="submit()">Login</button>
      
  </ion-content>
</ion-view>