<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Pythia API | Developers</title>
        <meta name="description" content="A platform to which all Pythia has to offer is revealed">
        <meta name="keywords" content="Pythia, telco, big data, analytics, telecom analytics">
        <meta name="author" content="Data Management Systems Laboratory, University of Cyprus">
        <meta charset="UTF-8">

            <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=0.5">

            <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

            <!-- Custom styles -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/animate-custom.css")" type="text/css" media="screen">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css" media="screen">

        <link href='http://fonts.googleapis.com/css?family=Chela+One' rel='stylesheet' type='text/css'>

            <!-- Styles -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap-fileupload.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/kaddy.css")" rel="stylesheet">

            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

    </head>
    <body>
            <!-- Header-->
        <header>
                <!-- Top Bar -->
            <div class="top">
                <div class="container">
                    <a class="logo" href="/">Pythia Developers</a>
                    <ul class="btns-top">
                        <li>
                            <a href="@routes.Application.dashboard()" class="btn btn-large btn-inverse">Back to Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
            <!-- End Top Bar -->
        <section class="intro">
            <div class="container ">
                <div class="row-fluid">
                    <div class="span12">

                        <div class="container">
                                <!-- Docs nav -->
                            <div class="row">

                                    <!-- API container -->
                                <div class="span12 explorer">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
            <!--Copyright-->
        <div class="copy">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6 left">
                        <p>
                            @*links*@
                        </p>
                    </div>
                    <div class="span6 right">
                        <p>© 2015 Project Pythia</p>
                    </div>
                </div>
            </div>
        </div>
            <!--end Copyright-->

        <a id="goTop" href="#">Top</a>

            <!-- Javascript -->
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.jsonp.js")"></script>
        <script src="@routes.Assets.at("javascripts/kaddy.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-fileupload.min.js")"></script>
    </body>
</html>
