<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Internal Server Error | Pythia</title>
        <style>
        body {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #346bcc ;
        }
        h1, p {
        text-align : center ;
        color: white;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Looks like something went wrong!</h1>
            <p>We are sorry you are experiencing this error. We are working towards fixing it as soon as possible.</p>
        </div>
    </body>
</html>