<ion-view title="Answer Questions" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="answerQuestions-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Question</p>
    </div>
    <form id="answerQuestions-form8" class="list">
      <label class="item item-select" id="answerQuestions-select2">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <button id="answerQuestions-button1" class="button button-positive button-block">Submit</button>
  </ion-content>
</ion-view>