@charset "utf-8";

/* ============================== */
/*
 - Title: Landing Page - Boostrap HTML - Red
 - Autor: Coralix Themes
 */
/* ============================== */

/* ---------------------------------------------------------------------- */
/*	Import styles
 /* ---------------------------------------------------------------------- */


/*Google Fonts*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300");


/* ---------------------------------------------------------------------- */
/*	General Style
 /* ---------------------------------------------------------------------- */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	/* 1em = 10px | 1.2em = 12px | 2em = 20px | etc. */
	font-size: 62.5%;
	padding: 0;
	color: #000;
}
.left {
	float: left;
}
.right {
	float: right;
}
h1, h2, h3, h4, h5, h6 {
	color: #383e44;
	font-weight: 300;
}
h1 {
	font-size: 4.1em;
	line-height: 39px;
}
ul li {
	font-size: 1.3em;
}
ul li ul li {
	font-size: 1em !important;
}
h2 {
	font-size: 3.2em;
	margin: 0 0 1em;
}
h2 em {
	color: #d01217;
	font-style: normal;
}
h2 span {
    background: #fbfbfb;
    display: inline-block;
    padding: 0 3%;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
	line-height: 26px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 13px;
}
p {
	line-height: 21px;
}

a, a:hover, a:active, a:focus {
   outline: 0!important;
   border: 0; 
}
iframe {
	border: 0;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}

/* ---------------------------------------------------------------------- */
/*	Header
 /* ---------------------------------------------------------------------- */

/* Top Bar ----------------------------*/
.top {
	background-color: #fff;
	color: #fff;
}
.top .container .logo {
	display: inline-block;
	float: left;
	line-height: 64px;
	font-size: 25px;
}
.top .container .btns-top {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	display: inline-block;
}
.top .container .btns-top li {
	display: inline-block;
	margin: 10px 5px;
}
.top .container .btns-top li a {
	white-space: nowrap;
	text-transform: uppercase;
	border-radius: 2px;
}
.btn.btn-large {
	font-size: 14px;
}
.btn-inverse {
	background: #ed3d23!important;
}

.btn-primary {
	background: #ed3d23!important;
    margin-top: 10px;
}
.btn-primary:hover, .btn-inverse:hover  {
	background: #23272A!important;
}

/* Slider ----------------------------*/

header {
	background: #ed3d23;
	border-bottom: 5px solid #ed3d23;
	overflow: hidden;
}

/* Intro ----------------------------*/
.intro {
	padding: 2% 0;
    border-bottom: 5px solid #ed3d23;
}
.intro h1 {
	font-size:4.1em;
	font-weight:300;
	text-transform:uppercase;
	color:#383e44;
}
.intro h2 {
    background: none;
}
.intro h4 {
	font-size:16px;
	font-weight: normal;
	color:#383e44;
}
.row-fluid {
	position: relative;
}
.generic-section p {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-bottom: 1em;
}

div.explorer section {
	margin-bottom: 40px;
}

/* Button styles ----------------------------*/
.btn {
    background: #999999;
    border: 0 none;
    color: white;
    text-shadow: none;
	box-shadow: none!important;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #999999;
    color: #FFFFFF;
}

/* Footer ----------------------------*/
.footer {
	background-color: #373D43;
	color: #fff;
}
.footer .item {
	
}
.footer .item h3 {
	color: #fff;
	font-size: 3em;
	color: #CBCBCB;	
}
.footer .item p {
	line-height: 2em;
	font-size: 1.2em;
	color: #CBCBCB;
}
ul.social {
	margin: 0;
	padding: 0;
}
ul.social li {
    display: inline-block;
    padding: 0 1%;
}
ul.social li a {
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
}
ul.social li a:hover {
	background-position: 0 100%!important; 
}
/* Need social icons */
ul.social li a.in {
	background: url("../images/ico-social-in.png");
}
ul.social li a.youtube {
	background: url("../images/ico-social-youtube.png");
}
ul.social li a.facebook {
	background: url("../images/ico-social-facebook.png");
}
ul.social li a.twitter {
	background: url("../images/ico-social-twitter.png");
}
ul.social .tooltip .tooltip-inner {
	background: white;
	color: black;
}
ul.social .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}

/* Copy ----------------------------*/
.copy {
	background: #fff;
	padding: 1.2% 0;
    text-align: center;
    font-size: 10px;
}
.copy p {
	color: #000;
	font-size: 1.2em;
	margin: 0;
}
.copy a {
	color:#000;
    margin-right: 7px;
}

.copy a:visited {
    color:#000;
    margin-right: 7px;
}

.copy a:hover {
    color:#ed3d23;
    margin-right: 7px;
}

/* Lightbox ----------------------------*/
#goTop {
	background: none repeat scroll 0 0 rgb(239,239,239);
	border-radius: 5px 5px 0 0;
	bottom: -100em;
	color: #666666;
	display: block;
	font-size: 17px;
	font-weight: bold;
	padding: 8px 9px 18px;
	position: fixed;
	right: 55px;
	text-decoration: none;
	z-index: 9999;
	text-shadow: 1px 1px 1px white;
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(224,224,224,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0e0e0',GradientType=0 );
	-moz-transition: all 1.3s ease-in-out 0s;
	-webkit-transition: all 1.3s linear 0s;
	-o-transition: all 1.3s linear 0s;
	-ms-transition: all 1.3s linear 0s;
	transition: all 1.3s linear 0s;
	-moz-box-shadow: 0 2px 5px rgba(34, 25, 25, 0.22);
	-webkit-box-shadow: 0 2px 5px rgba(34, 25, 25, 0.22);
	-o-box-shadow: 0 2px 5px rgba(34, 25, 25, 0.22);
	-ms-box-shadow: 0 2px 5px rgba(34, 25, 25, 0.22);
	box-shadow: 0 2px 5px rgba(34, 25, 25, 0.22);
}
#goTop.show {
	bottom: 0;
}
#slogan {
    display: inline-block;
    float: left;
    margin-top: 11px;
    border-left-color: white;
    border-left-width: 2px;
    border-left: 2px solid;
    padding-left: 10px;
    margin-bottom: 7px;
    margin-left: -62px;
}
#slogan p {
    font-size: 19px;
    margin-top: 9px;
}
#privacy {
    font-size: 1.4em;
    text-align: justify;
}
#privacy h3 {
    font-size: 1.2em;
    line-height: 28px;
}
.form {
    display: inline-block;
    width: 90%;
}
.form input[type="text"], .form textarea {
    font-size: 16px;
    width: 100%;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    height: 42px;
    padding: 1px 8px 1px 8px;
    color: #b3b2b2;
    -moz-box-shadow: inset 0 2px 2px 2px #f7f7f7;
    -o-box-shadow: inset 0 2px 2px 2px #f7f7f7;
    -webkit-box-shadow: 0 0 0 4px #000, inset 0 2px 2px 2px #f7f7f7;
    box-shadow: 0 0 0 4px #f6f6f6, inset 0 2px 2px 2px #f7f7f7;
    display: block;
    margin-bottom: 15px;
	font-family: 'arial', serif;
}

.form textarea {
    resize: none;
    height: 100px;
    padding: 8px;
    color: #b3b2b2;
}

#contact {
    float: left;
    width: 100%;
    margin-top: 75px;
}

#contact  input[type="text"]:focus,
#contact  textarea:focus {
    color:#363636;
    border:2px solid #6ccbef;
    -moz-box-shadow:0 0 9px #6ccbef;-o-box-shadow:0 0 9px #6ccbef;-webkit-box-shadow:0 0 9px #6ccbef;box-shadow:0 0 9px #6ccbef;
    padding:7px
}
#contact textarea{resize:none;height:100px;padding:8px;color:#b3b2b2}
#contact textarea:focus{padding:7px}
#contact button {
    cursor:pointer;
    display:block;
    width: 120px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight:bold;
    padding: 9px 5px 8px;
    background-color:#ec5d59;
	background-image:-webkit-linear-gradient(top,#ec5d59 0,#c33d36 100%);
	background-image:-moz-linear-gradient(top,#ec5d59 0,#c33d36 100%);
	background-image:-ms-linear-gradient(top,#ec5d59 0,#c33d36 100%);
	background-image:-o-linear-gradient(top,#ec5d59 0,#c33d36 100%);
	background-image:linear-gradient(top,#ec5d59 0,#c33d36 100%);
    border:none;
    border-bottom:2px solid #94302a;
    text-shadow:rgba(0,0,0,0.4) 0 1px 1px;
    border-radius:3px;
    color:#fff;
}
#contact button:hover {
    opacity:0.9;

}
#contact button:active{
    border-bottom:2px solid transparent;
    background:#c33d36;
}

#contact p.success {
    font-size:16px;
    color:#45c31b;
}
#contact .error {
    color:#D8000C !important;
    border:1px solid #D8000C !important;
    box-shadow:0 0 6px #ff0000, inset 0 2px 2px 2px #f7f7f7 !important;
	-moz-box-shadow:0 0 6px #ff0000, inset 0 2px 2px 2px #f7f7f7 !important;
	-webkit-box-shadow:0 0 6px #ff0000, inset 0 2px 2px 2px #f7f7f7 !important;
}
#contact .error:focus {border:2px solid #D8000C !important}

.phonelogo {
    width: 100%;
	margin: 0 auto 20px;
}
.download-text {
    font-size: 16px;
    line-height: 10px;
}
.download-text p {
    font-size: 18px;
    line-height: 25px;
}

#logo_ucy {
    display: block;
    width: 184px;
    height: 65px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../images/ucy_logo.png);
    background-position: left;
    margin-top: 10px;
}

.address {
    clear: both;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    .right {
        text-align: center;
    }

    .left {
        text-align: center;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
    .right {
        text-align: center;
    }

    .left {
        text-align: center;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    /* Styles */
    .right {
        text-align: center;
    }

    .left {
        text-align: center;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
    /* Styles */
    .right {
        text-align: center;
    }

    .left {
        text-align: center;
    }
}